@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400, 300, 700, 900)
.about {
  // .about_header

  &_header {
  }

  // .about__body

  &__body {
  }

  // .about__title

  &__title {
    margin: 30px;
  }

  // .about__text

  &__text {
  }

  // .about__row

  &__row {
  }

  // .about__column

  &__column {
  }
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9px;
}
.item-about {
  // .item-about__icon

  &__icon {
  }

  // .item-about__title

  &__title {
  }

  // .item-about__text

  &__text {
  }
}
