*,
*:after,
*:before {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  ali: 50;
}
.wrapper {
  position: relative;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.596);
  width: 98%;
  max-width: 1280px;
}

.container {
  display: flex;
  width: 100%;
}
.about {
  background-color: #e8d966b2;
}
.about__name,
.about__adrees,
.about__contact {
  font-size: 14px;
  text-transform: uppercase;
  flex-direction: column;
}
.about__photo {
  padding: 10px 20px;
}
.about__jobfind {
  background-color: hotpink;
}
