* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
  background-color: #f5f7fa;
}

img {
  margin-top: 40px;
  width: 370px;
}
.wrapper {
  width: 1200px;
  display: flex;
  padding: 40px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.side_bar_contacts {
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 40px;
}
.contacts_type {
  color: #fff;
  font-weight: 700;
}
.contacts_link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: gray;
  margin-left: 10px;
}
.side_bar_tech_skils {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
}
.side_bar_soft_skils {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
}
.aside_list_item {
  color: #fff;
}
.side_bar {
  display: flex;
  flex-direction: column;
  width: 370px;
  background-color: #1e2939;
  padding-bottom: 40px;
  box-shadow: 5px 5px 15px rgba(0.5, 0.5, 0.5, 0.1);
}
.aside_list {
  line-height: 24px;
  font-family: Montserrat;
  font-size: 14px;
  margin-left: 15px;
  color: #ff6b08;
}
.aside_list_text {
  color: #fff;
}
.aside_title {
  color: #fff;
  line-height: 24px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 110px 90px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px rgba(0.5, 0.5, 0.5, 0.1);
}
.main-info {
  margin-bottom: 64px;
}
.main-info-h2 {
  margin-bottom: 24px;
  font-size: 14px;
}
.main-info-name {
  font-size: 45px;
  margin-bottom: 24px;
}
.Projects-container {
  margin-bottom: 54px;
}
.main_title_projects {
  margin-bottom: 12px;
  font-size: 22px;
}
.main_title {
  margin-bottom: 18px;
  font-size: 22px;
}
.main_kind_of {
  font-size: 14px;
}
.main_place {
  color: #ff6b08;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main_data {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
}
.main_country {
  border-left: black 1px solid;
  margin-left: 6px;
  padding-left: 6px;
}
.main_list {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #595959;
}
.projects_link {
  color: #595959;
  border-bottom: #595959 1px dotted;
  width: 280px;
  line-height: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.main_title_projects_list {
  margin-left: 15px;
  font-weight: 700;
}
.fw_regular {
  font-weight: 400;
  text-decoration: none;
}
.project_tech {
}
.main_title_H4 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.main-edu {
  margin-top: 55px;
}
